.event-container {
    width: 200px;
    margin: 20px;
    word-wrap: break-word;

    // img{
    //     width: 200px;
    //     object-fit: cover;
    //     object-position: center;
    // }

    p {
        margin: 0;
    }
}

.event-cover-container {
    height: 120px;
}

.event-cover-photo {
    height: 120px;
    width: 200px;
    object-fit: cover;
}

.no-cover-photo{
    display: flex;
    align-items: center;
}