.event-container {
    text-align: initial;
    width: 200px;
    margin: 5px;
    word-wrap: break-word;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;

    // img{
    //     width: 200px;
    //     object-fit: cover;
    //     object-position: center;
    // }

    p {
        margin: 0;
    }
}

.event-cover-container {
    height: 120px;
}

.event-cover-photo {
    height: 120px;
    width: 200px;
    object-fit: cover;
}

.no-cover-photo {
    display: flex;
    align-items: center;
}
