@import "../../../../partials";
@import "./timeline-event.scss";

.longevent-cover-photo {
    @include cover-photo;
}

.longevent-cover-container {
    @include cover-container;
    overflow: hidden;
}

.longevent-title-container {
    margin-top: 15px;
    margin-bottom: 3px;
}

.longevent-subtitle-container {
    height: 88px;
    overflow: hidden;
    margin: 0;
}

.longevent-preview-text {
    @include no-select;
}
