
.vertical-grouping{ 
    display: flex;
    flex-direction: column;    
    align-items: center;
    flex-grow: 1;

}

#selection-window{ 
    display: flex;
    justify-content: space-between;
}

.single-button-container{
    padding: 1vh;
}

#editor-container{
    background-color: grey;
    width: 75%;
}

#button-container{
    display: flex;
    justify-content: space-between;
}


//custom font
.my-custom-h1{
    font-weight: 100;
}

.my-custom-h2{
    font-weight: 100;
}
.my-custom-h3{
    font-weight: 100;
}

.dante-menu-input {
    background-color: transparent!important;
  }

