
.vertical-grouping{ 
    display: flex;
    flex-direction: column;    
    align-items: center;
    flex-grow: 1;

}

#selection-window{ 
    display: flex;
    justify-content: space-between;
}

.single-button-container{
    padding: 1vh;
}

#editor-container{
    width: 75%;
}

#button-container{
    display: flex;
    justify-content: space-between;
}


//custom font
.my-custom-h1{
    font-weight: 100;
}

.my-custom-h2{
    font-weight: 100;
}
.my-custom-h3{
    font-weight: 100;
}

.dante-menu-input {
    background-color: transparent!important;
  }

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
