.short-editor-container {
    background-color: white;
    height: 60vh;
    display: flex;
    width: auto;
    padding: 1vh;
    justify-content: center;
}

.description-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.uploaded-file-container{
    display: flex;
}
#short-post-text{
height: 100%;
width: 100%;
box-sizing: border-box;

}

#description-input-container{
    height: 100%;
}

// https://github.com/kenwheeler/slick/issues/982
#post-preview-container {
    max-width: 900px;
    min-width: 600px;
    min-height: 0;
    display: flex;
   
}

#text-container {
    max-width: 300px;
    min-width: 300px;
    width: 300px;
    background-color: grey;
    padding: 1vh;
    display: flex;
}

// .modal {
//     z-index: 999;
//     display: none;
//     overflow: hidden;
// }

// .modal .overlay {
//     width: 100%;
//     height: 100vh;
//     background: rgba(0, 0, 0, 0.66);
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// .modal .modal-image {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     overflow: hidden;
//     object-fit: cover;
//     width: 100%;
//     height: 300px;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
// }


// Drag Drop Scss
.photo-upload-container {
    // transform: translateY(-100%);
    height: 100%;
    width: 600px;
}

.photo-upload-container p {
    text-align: center;
}

.mini-drop-image-container {
    display: flex;
    align-items: center;
    
    justify-content: center;
    height: calc(50% - 8px);
    border: 4px dashed #4aa1f3;
}

.drop-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: calc(100% - 8px);
    border: 4px dashed #4aa1f3;
}

.drop-message {
    text-align: center;
    color: #4aa1f3;
    font-family: Arial;
    font-size: 20px;
}

.upload-icon {
    width: 50px;
    height: 50px;
    background: url("./images/upload.png") no-repeat center center;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.file-display-container {
    width: 500px;
}

.file-status-bar {
    width: 100%;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    line-height: 50px;
    height: 50px;
}

.file-status-bar > div {
    overflow: hidden;
}

.file-type {
    display: inline-block !important;
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin-top: 25px;
    padding: 0 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #abc;
    color: #fff;
    background: #0080c8;
    text-transform: uppercase;
}

.file-name {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #4aa1f3;
}

.file-error {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #9aa9bb;
}

.file-error-message {
    color: red;
}

.file-type-logo {
    width: 50px;
    height: 50px;
    background: url(./images/generic.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
}

.file-size {
    display: inline-block;
    vertical-align: top;
    color: #30693d;
    margin-left: 10px;
    margin-right: 5px;
    margin-left: 10px;
    color: #444242;
    font-weight: 700;
    font-size: 14px;
}

.file-remove {
    position: absolute;
    top: 20px;
    right: 10px;
    line-height: 15px;
    cursor: pointer;
    color: red;
    margin-right: -10px;
}

.file-input {
    display: none;
} 

.file-upload-btn {
    color: white;
    text-transform: uppercase;
    outline: none;
    background-color: #4aa1f3;
    font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 5px;
}