@import "../../App.scss";

nav {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .navigation-link{
        font-size: $primary-large-font-size;
    }

    button,
    a {
        font-size: $primary-medium-font-size;
        padding: 0.5vh;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    a {
        text-decoration: none;
    }
}

.modal {
    z-index: 10;
    display: none;
    overflow: hidden;
}

// .modal 

.overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0;
}


.close {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    position: fixed;
    top: 15px;
    right: 35px;
    color: grey;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 21;
}
