@import "../../main.scss";

.welcome-navbar-container {
    background-color: $primary-color;
    // min-width: 100%;
    display: flex;
    padding-left: 1vh;
    padding-right: 1vh;
    justify-content: space-between;
}

.navbar-item{
    font-size: $primary-medium-font-size;
    padding-left: 1vh;
    padding-right: 1vh;
}

#settings-link{
    padding-right: 1vh;
}

#new-entry{
    padding-left: 1vh;
}

// .no-select {
//     -webkit-touch-callout: none; /* iOS Safari */
//       -webkit-user-select: none; /* Safari */
//        -khtml-user-select: none; /* Konqueror HTML */
//          -moz-user-select: none; /* Old versions of Firefox */
//           -ms-user-select: none; /* Internet Explorer/Edge */
//               user-select: none; /* Non-prefixed version, currently
//                                     supported by Chrome, Edge, Opera and Firefox */
//   }

