@import "../../App.scss";

nav {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .navbar-navigation-link {
        font-size: $primary-large-font-size;
    }

    button,
    a {
        font-size: $primary-medium-font-size;
        padding: 0.5vh;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
}
