@import "../../../partials";

#shorteditor-text-container {
    max-width: 900px;
    min-width: 600px;
    width: 100%;
}

#shortviewer-main-container {
    @include flex-display-row;
}

#shortviewer-file-manager-container {
    @include flex-display-column;
}

#shortviewer-hero-container {
    height: 100%;
    width: 65%;
    margin: auto;
    text-align: center;
    justify-content: center;

    #shortviewer-image-slider-container {
        height: 30vh;
    }
}

#shortviewer-side-container {
    width: 35%;
}

// https://github.com/kenwheeler/slick/issues/982
