.home-row-container {
    padding: 2vh;

    .home-profile-column-container {
        margin: auto;
    }
}


.home-profile-text {
    text-align: center;
}

#home-profile-photo {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.feed-object-container{
    margin: 100px;
    background-color: grey;
}

//table
#profile-info-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td,
th {
    padding: 8px;
}

//
#feed-container{
    margin: auto;
    width: 800px;
}