@import "../../../partials";

#returninguser-profile-container,
#returninguser-feed-container {
    @include flex-display-row;
}

.returninguser-main-row {
    padding: 2vh;

    #returninguser-recent-work-container {
        @include flex-display-column;
    }

    #returninguser-profile-photo {
        object-fit: cover;
        border-radius: 50%;
        @include medium-profile-photo;
    }

    .returninguser-profile-text-container {
        text-align: center;
    }

    .returninguser-profile-column {
        @include flex-display-column;
        margin: auto;
    }

    #returninguser-pursuit-info-table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;

        td,
        th {
            padding: 8px;
        }
    }
}

.returninguser-row {
    @include flex-display-row;
}

#returninguser-infinite-scroll-container {
    margin: auto;
    width: 800px;
    @include flex-display-column;

    .returninguser-feed-object-container {
        margin: 100px;
        background-color: grey;
    }
}
