
@import  '../../main.scss';

#personal-profile-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personal-profile-header{
    width: 130vh;
    background-color: red;
    position: relative;
    z-index: 2;
   
}

#temp-cover{
    height: 30vh;
   
}

#personal-profile-photo{
    position: absolute;
    background-color: grey;
    width: 20vh;
    height: 20vh;
    min-width: 160px;
    min-height: 160px;
    z-index: 4;
    top: 14vh;
    left: 14vh;

    // left: -30vh;
   

    // max-width: 5vh;
    // height: 10vh;
}



.pursuit-board-container{
display: flex;
justify-content: center;
margin: 10% -5px;

}

#personal-profile-name-container{
    display: block;
    padding-left: 40vh;
    width: 130vh;
    background-color: brown;
}

#personal-profile-name{
    
    font-size: $primary-medium-font-size;
}

#personal-profile-intro-container{
    display: relative;
    width: 130vh;
    height: 100px;
    background-color: #1E51BC;
    z-index: -1;
}

#personal-profile-description{
    display: block;
}

#pursuit-selection-container{
    width: 130vh;
    background-color: #2061E9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2vh;
}

#new-pursuit-container{
    background-color: grey;
    
}