@import "../../../App.scss";

p {
    color: $primary-text-color;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    height: 100%;
}

.overview-login-register-container {
    min-width: 100%;
    height: 100vh;
}

.overview-description-container,
.login-signup-container {
    flex-direction: column;
    justify-content: center;
    button{

    }
}

.overview-description-container {
    width: 65%;
    padding-left: 10vh;
    font-size: $primary-medium-font-size;
}

.login-signup-container {
    width: 35%;
}
