.flex-display{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-row{
    flex-direction: row;    
}

.home-row-container {
    padding: 2vh;
}

.home-profile-column-container {
    margin: auto;
}

.home-profile-text {
    text-align: center;
}

#home-profile-photo {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#placeholder-feed {
    background-color: red;
    width: 75%;
    margin: auto;
}

//table
#profile-info-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td,
th {
    padding: 8px;
}
