@import "../../main.scss";

#personal-profile-container {
    display: flex;
    max-width: 940px;
    width: 100%;
    flex-direction: column;
    margin: auto;
}

#personal-profile-header {
    height: 345px;
    background-color: red;
}

#temp-cover {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#personal-profile-photo {
    position: absolute;
    background-color: grey;
    margin-left: 70px;
    margin-top: -150px;
    padding-left: 5px;
    padding-top: 5px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    img {
        
        height: 170px;
        width: 170px;
        border-radius: 50%;
    }
}

#personal-profile-intro-container {
    width: 100%;
    background-color: #1e51bc;
    // z-index: -1;
}

#personal-profile-description {
    display: flex;
    flex-direction: column;
}

#pursuit-selection-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#personal-profile-name-container{
    text-align: center;
    // padding-top: 20px;
    // padding-left: 70px;
    // height: 50px;
}

#personal-profile-timeline-container{
    width: 100%;
    margin: auto;
    max-width: 980px;
}

#personal-profile-actions-container{
    display: flex;
    flex-direction: row;
}

.mini-modal{
    z-index: 10;
    display: none;
    overflow: hidden;

    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



// .pursuit-board-container{
// display: flex;
// justify-content: center;
// margin: 10% -5px;

// }

// #personal-profile-name-container{
//     display: block;
//     padding-left: 40vh;
//     width: 130vh;
//     background-color: brown;
// }

// #personal-profile-name{

//     font-size: $primary-medium-font-size;
// }

// #personal-profile-intro-container{
//     display: relative;
//     width: 130vh;
//     height: 100px;
//     background-color: #1E51BC;
//     z-index: -1;
// }

// #personal-profile-description{
//     display: block;
// }

// #pursuit-selection-container{
//     width: 130vh;
//     background-color: #2061E9;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     padding: 2vh;
// }
