@import "../../App.scss";

#personal-profile-container {
    max-width: 940px;
    width: 100%;
    margin: auto;

    #personal-profile-header {
        height: 345px;
        background-color: red;
    }

    #personal-profile-intro-container {
        display: block;
        background-color: orange;

        #personal-profile-photo-container {
            position: absolute;
            background-color: grey;
            margin-left: 70px;
            margin-top: -150px;
            padding-left: 5px;
            padding-top: 5px;
            width: 175px;
            height: 175px;
            border-radius: 50%;

            img {
                height: 170px;
                width: 170px;
                border-radius: 50%;
            }

            #personal-profile-name-container {
                text-align: center;
                // padding-top: 20px;
                // padding-left: 70px;
                // height: 50px;
            }

            #personal-profile-actions-container {
                display: flex;
                flex-direction: row;
            }
        }

        #personal-profile-description {
            display: flex;
            flex-direction: column;
        }

        #pursuit-selection-container {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }
    }
}

#personal-profile-content-switch-container{
    width: 100%;
    margin: auto;
    max-width: 940px;

}

#personal-profile-buttons-container{
    display: flex;
    justify-content: center;
}

#temp-cover {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#personal-profile-timeline-container {
    width: 100%;
    margin: auto;
    max-width: 940px;

    #post-window{
        position: fixed;
    }
}

// .mini-modal {
//     z-index: 10;
//     display: none;
//     overflow: hidden;

//     width: 100%;
//     height: 100vh;
//     background: rgba(0, 0, 0, 0.66);
//     position: fixed;
//     top: 0;
//     left: 0;

//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     overflow: scroll;
//     object-fit: cover;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
// }


.pursuit-container {
    justify-content: center;
    margin: 0 5px;
    background-color: grey;
    cursor: pointer;
}

#user-option-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    height: 500px;
    width: 300px;
    background-color: blue;
}