#project-edit-button-container {
    // float: right;
    display: flex;
    justify-content: flex-end;
   
}

#sort-by-date-button {
    float: right;
}

#project-info-button {
    float: right;
}

.sortable-project-post {
    display: inline-block;
}

#personal-profile-projects-container {
    text-align: center;
}

#personal-profile-project-submit-container{
    display: flex;
    flex-direction: column;
}
