#sort-by-date-button {
    float: right;
}

#project-info-button {
    float: right;
}

.sortable-project-post {
    display: inline-block;
}

#personal-profile-project-submit-container {
    ul {
        padding: 0;
    }
}
