#project-edit-button-container {
    float: right;
    display: block;
   
}

#sort-by-date-button {
    float: right;
}

#project-info-button {
    float: right;
}

.sortable-project-post {
    display: inline-block;
}

#personal-profile-projects-container {
    text-align: center;
}
