
.long-editor-container{
    // display: flex;
    // flex-direction: column;
    width: 70%;
    margin: auto;
    // min-width: 60vh;
    // justify-content: center;
}

#long-editor-buttons{
    margin-top:105px;
}

