@import "../../../partials";
.longpostviewer-window {
    @include large-post-window;
}
.longpostviewer-meta-info-container {
    @include long-post-text-container;

    #longpostviewer-top-title-bar {
        @include flex-display-row;
        width: 100%;
    }
    .longpostviewer-author-info-container {
        @include flex-display-row;

        .longpostviewer-display-photo {
            @include small-profile-photo;
            border-radius: 50%;
        }
    }

    .longpostviewer-button-container {
        @include flex-display-row;
        align-items: center;
        margin-left: auto;
    }

    .longpostviewer-stats-container {
        margin-left: auto;
    }
}
#longpostviewer-inline-editor-container {
    max-height: 500px;
    overflow: hidden;
}

.longpostviewer-editor-container {
    @include long-post-text-container;
    .longpostviewer-cover-photo {
        width: 100%;
    }
}
