.short-viewer-main-container {
    height: 100%;
    width: 100%;
}

.short-viewer-hero-container {
    height: 100%;
    width: 65%;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.short-viewer-side-container {
    width: 335px;
}

.image-container {
    width: 100%;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-slide{
    min-height: 0;
}
