@mixin flex-display-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-display-column {
    display: flex;
    flex-direction: column;
}

@mixin main-profile-photo-container {
    height: 250px;
    width: 250px;
}

@mixin medium-profile-photo {
    height: 100px;
    width: 100px;
}

@mixin tiny-profile-photo {
    height: 25px;
    width: 25px;
}
