// Colors
$primary-color: #ed4071;
$primary-text-color: black;

//Sizes
$primary-calc-medium-font-size: calc(10px + 2vmin);
$primary-large-font-size: 30px;
$primary-medium-font-size: 20px;
$primary-hero-container-size: 75%;



